<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>NodeJs Ass01</title>
    <link href="../../assets/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <% include partials/nav.ejs %>
    <h2> Contact Us! </h2>
    <%= qs.name %>
    <form>
        <input placeholder="name" type="text" value="<%= qs.name %>" />
        <input placeholder="age" type="number" value="<%= qs.age %>" />
        <input placeholder="email" type="email" />
        <br>
        <button type="submit"> SEND </button>
    </form>
</body>
</html>